<%= form_for [@doctor, @case] do |f| %>
  <div class="mb-3">
    <%= f.label :answer, class: 'form-label' %>
    <%= f.text_area :answer, class: 'form-control' %>
  </div>
  <%= f.hidden_field :status, value: false %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>